/* General styling and resets */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.btn-primary {
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.categories {
  display: flex;

  justify-content: center; /* Centers categories horizontally */
  align-items: center; /* Centers categories vertically */
  gap: 40px; /* Gap between each category */
  flex-grow: 1; /* Allows categories to grow and consume available space */
  list-style-type: none;
  padding: 0;
}
.category-link {
  text-decoration: none;
  color: inherit;
}

.categories li {
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.categories li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.categories img {
  width: 150px;
  height: 150px;
  transition: 0.3s;
}
.round-border {
  border-radius: 40%;
}
.categories img.selected {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h5.selected {
  color: #007bff;
}

h2,
h3,
h5 {
  margin: 10px 0;
}
h2 {
  font-size: 28px;
}

h3 {
  margin-top: 40px;
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

.aiTextDisplay {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.aiTextDisplay p {
  word-wrap: break-word;
}

.btn-next {
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.aiTextDisplay button:hover {
  background-color: #0056b3;
}

/*login css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #3498db, #475faf);
}

.login-box {
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-remember {
  display: flex;
  align-items: center;
}

.login-checkbox {
  margin-right: 4px;
}

.login-label {
  font-size: 14px;
  color: #333;
}

.login-forgot {
  font-size: 14px;
}

.login-link {
  color: #2196f3;
  text-decoration: none;
}

.login-button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

/* singup css */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #3498db, #475faf);
}

.signup-box {
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 12px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signup-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.signup-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
